*{
 /* 공통으로 적용시킬 스타일*/
    margin: 0;
    padding : 0;
    list-style-type: none;
}
html,
body {
    width: 100%;
    height: 100%; /* html과 body가 전체 화면 높이를 차지 */
    overflow: hidden; /* 페이지 전체의 스크롤을 제거 */
    background: #000;
}

.test-div{
    width: 200px; /* 너비 */
    height: 100px; /* 높이 */
    background-color: #007bff; /* 배경색 */
    color: #fff; /* 텍스트 색상 */
    text-align: center; /* 텍스트 정렬 */
    line-height: 100px; /* 텍스트 수직 중앙 정렬 */
    border-radius: 10px; /* 테두리 모서리 둥글게 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    display: flex; /*플렉스 레이아웃 적용*/
    justify-content: space-between; /* 좌우로 분산 정렬 */
    align-items: center; /* 수직 가운데 정렬 추가 */
}

.title{
    position : fixed;
    z-index: 10;
    width: 100%;
}
.title-div{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

.title-FontStyle{
    font-size: 50px;
    font-weight: bold;
    color: rgb(251,146,60);
}
.title-div-button{
    width: 60px;
    height: 60px;
}

.Category-Nav{
    background-color: white; /*영역좀 볼려고 사용*/
    width: 100%;
}
.Category-Nav-div{
    display: flex; /*플렉스 레이아웃 적용*/
    padding : 24px;
}
.Category-Nav-btn{
    width: 100%;
    height: auto;

    background-color: transparent;
    border: none;
    font-size: 40px;
    padding: 24px;
    position: relative; /* 상대적 위치 설정 */
}

.Category-Nav-btn::after {
    content: ''; /* 가상 요소 생성 */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: black; /* 선의 색상 */
}


/*품목 영역*/
.Category-List {
    width: 100%;
    height: calc(100% - 260px); /* 화면 전체 높이에서 title의 높이를 뺀 만큼 설정 */
    background-color: white;
    margin-top: 260px; /* title의 높이만큼 아래로 이동 */
    box-sizing: border-box; /* 패딩이 높이에 포함되도록 설정 */

    /*보여지는 방식*/
    display: grid;
    grid-template-columns: 24rem minmax(0px,1fr);
}

.Category-List-Index {
    width: 100%;
    height: 100%; /* 부모 요소의 높이를 전부 차지 */
    box-sizing: border-box; /* 패딩이 높이에 포함되도록 설정 */

}

.Category-List-Index ul {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.Category-List-Index ul li {
    margin: 10px;
}
.Category-List-btn{
    width: 100%;
    height: auto;
    font-size: xxx-large;
    text-align: left;
    background-color: rgba(255, 200, 150,0.5); /*나중엔 선택되면 활성화 되게 */
    border-radius: 30px; /* 테두리 모서리 둥글게 */
    border: none;
    padding: 10px;
}